---
title: "Jiří Němeček"
layout: default
permalink: "/author-jiri-nemecek.html"
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row align-items-center mb-5">
        <div class="col-md-9">
          <h2 class="font-weight-bold">
            {{page.title}}
            <span class="small btn btn-outline-success btn-sm btn-round">
              <a href="{{ site.authors.jiri-nemecek.twitter }}">Follow</a>
            </span>
          </h2>
          <p>
            <a href="{{ site.authors.jiri-nemecek.site }}">
              {{ site.authors.jiri-nemecek.site }}
            </a>
          </p>
          <p class="excerpt">{{ site.authors.jiri-nemecek.bio }}</p>
        </div>
        <div class="col-md-3 text-right">
          <img
            alt="{{ site.authors.jiri-nemecek.name }}"
            src="{{site.baseurl}}/{{ site.authors.jiri-nemecek.avatar }}"
            class="rounded-circle"
            height="100"
            width="100"
          />
        </div>
      </div>
      <h4 class="font-weight-bold spanborder">
        <span>Posts by {{page.title}}</span>
      </h4>
      {% assign posts = site.posts | where:"author","jiri-nemecek" %} {% for
      post in posts %} {% include main-loop-card.html %} {% endfor %} {% assign
      posts = site.posts | where:"authors","jiri-nemecek" %} {% for post in
      posts %} {% include main-loop-card.html %} {% endfor %}
    </div>
  </div>
</div>
